parameters:
	ignoreErrors:
		-
			message: '#^Call to function is_object\(\) with object will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: ../src/Injector.php

		-
			message: '#^Unable to resolve the template type T in call to method Bigcommerce\\Injector\\Reflection\\ClassInspector\:\:getReflectionClass\(\)$#'
			identifier: argument.templateType
			count: 1
			path: ../src/Reflection/ClassInspector.php

		-
			message: '#^Parameter \#2 \$initializer of method ProxyManager\\Factory\\LazyLoadingValueHolderFactory\:\:createProxy\(\) expects Closure\(object\|null\=, ProxyManager\\Proxy\\VirtualProxyInterface\=, string\=, array\<string, mixed\>\=, Closure\|null\=\)\: bool, Closure\(mixed, mixed, mixed, mixed, mixed\)\: true given\.$#'
			identifier: argument.type
			count: 1
			path: ../src/ServiceProvider/BindingClosureFactory.php

		-
			message: '#^Unable to resolve the template type RealObjectType in call to method ProxyManager\\Factory\\LazyLoadingValueHolderFactory\:\:createProxy\(\)$#'
			identifier: argument.templateType
			count: 1
			path: ../src/ServiceProvider/BindingClosureFactory.php
